html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.base { 
    width: 1440px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: start;
}

/* шапка сайта */

.header {
    width: 1340px;
    margin-top: 96px;   
    margin-bottom: 92px;
    display: flex;
    align-items: center;
}

.logo {
    height: 105px;
    width: 148px;
    margin-left: 208px; 
    margin-right: 356px; 
}

.menu {
    display: flex;
    justify-content: start;
    font-size: 18px;
    line-height: 24px;
}

.list-menu {
    display: inline;
    list-style-type: circle;
}

.contacts {
    width: 240px;
    font-style: normal;
    line-height: 24px;
    font-size: 18px;
    justify-content: end;
}

.no-underline {
    text-decoration: none;
}

.menu-margin {
    margin-right: 32px;
}

/* главная */

.main {
    width: 1440px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: start;
}

.main-content {
    height: 757px;
    width: 1440px;
    position: relative;
    display: flex;
    margin: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.6;
}

.main-img {
    height: 757px;
    width: 1440px;
}

.main-h {
    text-transform: uppercase;
    font-size: 100px;
    font-weight: bold;
    line-height: 100%;
    font-style: normal;
    letter-spacing: 0.3em;
    /* при удалении или изменении строчки позицианирования текст смещается, нарушая задачу*/
    position: absolute;
    color: white;
}

/* абсолютное позиционирование след. 5-х стилей нужно для размещения контента на картинке */

.first-main {
    position: absolute;
    left: 50px;
    top: 165px;
}

.second-main {
    position: absolute;
    /* задается ширина для размещения текста по центру */
    width: 1280px;
    left: 50px;
    top: 300px;
    text-align: center;
  
}

.third-main {
    position: absolute;
    left: 1007px;
    top: 420px;
    text-align: right;
}

.main-p {
    position: absolute;
    left: 422px;
    top: 667px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    word-spacing: 17px;
}   

.button-main {
    position: absolute;
    /* размеры кнопки задаются согласно макету. Если не использовать - не совпадет с макетом */
    width: 257px;
    min-height: 52px;
    font-size: 22px;
    text-align: center;
    box-sizing: border-box;
    left: 1133px;
    top: 655px;
    border: 1px solid #FFFFFF;
    background-color: rgb(255, 255, 255, 0);
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.remove-right-space {
    letter-spacing: 0;
}

/* лоты */

.lots {
    display: flex;
    max-width: 1340px;
    margin-top: 180px;
    flex-wrap: wrap;
    flex-grow: 1;
}

.lots-title {
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
    text-transform: uppercase;
}

.cards {
    width: 1340px;
    margin-top: 27px;
    display: flex;
    color: #FFFFFF;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 25px;
}

.card {
    min-width: 430px;
    min-height: 452px;
    display: flex;

    position: relative;
}

.card-img {
    width: 430px;
    height: 452px;
}

/* абсолютное позиционирование след. 2-х стилей нужно для размещения контента на картинке */

.card-title {
    position: absolute;
    left: 40px;
    top: 50px;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card-text {
    position: absolute;
    /* размеры задаются согласно макету. Если не использовать - не совпадут с макетом */
    width: 350px;
    left: 40px;
    font-weight: 400;
    font-size: 20px;
}

.card-text-pos-f {
    top: 302px;
}

.card-text-pos-s {
    top: 160px;
}

.card-text-pos-th {
    top: 208px;
}

.look-more-cards {
    display: inline-block;
    margin-top: 28px;
    margin-left: 40px;
    font-size: 20px;
}

/* про */

.about {
    width: 1340px;
    display: flex;
    margin-top: 181px;
}

.about-logo {
    width: 430px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.logo-circle {
    position: absolute;
    width: 240px;
    height: 240px;
    top: 0;
    left: 95px;
}

.logo-white {
    position: absolute;
    top: 71px;
    left: 141px;
    width: 148px;
    height: 114px;
}

.about-content {
    width: 885px;
    margin-top: 100px;
    margin-left: 25px;
}

.about-title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

.about-text {
    font-size: 20px;
}

.about-text-margin-f {
    margin-top: 100px;
}

.about-text-margin-s {
    margin-top: 25px;
}

/* подвал */

.footer {
    width: 1340px;
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
}

.menu-footer {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: center;
}

.socials {
    /* размеры задаются согласно макету. Если не использовать - не совпадут с макетом */
    width: 240px;
    display: flex;
    justify-content: space-between;
}

.socials-logo {
    width: 48px;
    height: 48px;
}
