html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    display: flex;
    justify-content: center;
}


.base { 
    width: 1440px;
    height: 2844px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: start;
}

/* шапка сайта */
.header {
    height: 105px;
    width: 1340px;
    margin-top: 96px;   
    margin-bottom: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 105px;
    width: 148px;
    margin-left: 208px;
    margin-right: 356px;
}

.menu {
    display: flex;
    height: 23px;
    width: 388px;
    justify-content: start;
    font-size: 18px;
    line-height: 24px;
}

.list-menu {
    display: inline;
}

.contacts {
    width: 240px;
    height: 97px;
    font-style: normal;
    line-height: 24px;
    font-size: 18px;
}

.no-underline {
    text-decoration: none;
}

/* главная */

.main {
    height: 757px;
    width: 1440px;
    position: relative;
    display: flex;
    margin: 0;
    background-color: aqua;
}

.overlay {
    position: absolute;
    width: 1440px;
    height: 757px;
    background: #000000;
    opacity: 0.6;
}

.main-img {
    height: 757px;
    width: 1440px;
}

.main-h {
    text-transform: uppercase;
    font-size: 100px;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: 60%;
    position: absolute;
    color: white;
}

.first-main {
    position: absolute;
    width: 1340px;
    height: 115px;
    left: 50px;
    top: 165px;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 0.3em;
}

.second-main {
    position: absolute;
    width: 1280px;
    height: 100px;
    left: 50px;
    top: 300px;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.3em;
}

.third-main {
    position: absolute;
    width: 1340px;
    height: 100px;
    right: 50px;
    bottom: 237px;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 100%;
    text-align: right;
    letter-spacing: 0.3em;
}

.main-p {
    position: absolute;
    width: 633px;
    height: 28px;
    left: 422px;
    top: 667px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    word-spacing: 17px;
}   

.button-main {
    position: absolute;
    width: 257px;
    height: 52px;
    font-size: 22px;
    text-align: center;
    box-sizing: border-box;
    left: 1133px;
    top: 655px;
    border: 1px solid #FFFFFF;
    background-color: rgb(255, 255, 255, 0);
}

.button-text {
    width: 193px;
    height: 28px;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

/* лоты */

.lots {
    width: 1340px;
    height: 579px;
    margin-top: 180px;
}

.lots-title {
    width: 121px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
    text-transform: uppercase;
}

.cards {
    width: 1340px;
    margin-top: 27px;
    height: 452px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.card {
    width: 430px;
    height: 452px;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

.card-img {
    width: 430px;
    height: 452px;
}

.overlay-card {
    position: absolute;
    width: 430px;
    height: 452px;
    background: #000000;
    opacity: 0.6;
}

.card-title {
    position: absolute;
    width: 350px;
    height: 52px;
    left: 40px;
    top: 50px;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card-text {
    position: absolute;
    width: 350px;
    height: 96px;
    left: 40px;
    font-weight: 400;
    font-size: 20px;
}

.look-more-cards {
    display: inline-block;
    margin-top: 28px;
    margin-left: 40px;
    font-size: 20px;
}

/* про */

.about {
    width: 1340px;
    height: 487px;
    display: flex;
    margin-top: 181px;
}

.about-logo {
    width: 430px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.about-content {
    width: 885px;
    height: 388px;
    margin-top: 100px;
    margin-left: 25px;
}

.about-title {
    width: 291px;
    height: 47px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

.about-text {
    width: 855px;
    font-size: 20px;
}

/* подвал */

.footer {
    height: 97px;
    width: 1340px;
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
}

.menu-footer {
    display: inline-block;
    width: 149px;
    height: 64px;
    font-size: 18px;
    text-align: center;
}

.socials {
    width: 240px;
    height: 48px;
    display: flex;
    justify-content: space-between;
}

.socials-logo {
    width: 48px;
    height: 48px;
}
